TELEGRAM_TOKEN=ваш_токен_бота_из_BotFather
OPENAI_API_KEY=ваш_openai_api_key

YOOKASSA_ACCOUNT_ID=ваш_shop_id_из_YooKassa
YOOKASSA_SECRET_KEY=ваш_secret_key_из_YooKassa

# Дополнительно, если будете использовать
YOOTOKEN=необязательно_если_не_нужен

GROQ_API_KEY=ваш_groq_api_key


